/*---------------------------------------------------*/
/*	10) MEDIALOGIS CONTACT
/*---------------------------------------------------*/
.contact_form label {
  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: none;
}
.ml_contact {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  background-color: #f5f8fc;
  padding: 120px 0px;
  @media screen and (max-width: 991px) {
    padding: 90px 0px;
  }
  .icon {
    width: 55px;
    height: 55px;
    background: #2880b9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 25px;
      filter: invert(1);
      height: 25px;
    }
  }
  .content {
    flex: 1;
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        font-size: 16px;
      }
    }
  }
}
.ml_contact .extra_info {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding-top: 60px;
  margin-bottom: 30px;
}
.ml_contact .extra_info .wrapper {
  margin: 0px 0px 0px -30px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.ml_contact .extra_info .wrapper > li {
  margin: 0px 0px 30px 0px;
  flex: 0 0 auto;
  width: 33.33333333%;
  padding-left: 30px;
}
.ml_contact .extra_info .wrapper > li .list_inner {
  display: flex;
  align-items: flex-start;
  height: 100%;
  background-color: #fff;
  padding: 33px 35px 41px 35px;
  border-radius: 6px;
  @media screen and (max-width: 1199px) {
    padding: 20px;
  }
}
.ml_contact .extra_info .in {
  margin: 0px;
  list-style-type: none;
}
.ml_contact .extra_info .in li {
  margin: 0px;
  width: 100%;
  float: left;
  font-size: 16px;
}
.ml_contact .extra_info .in li :last-child {
  margin-bottom: 0px;
}
.ml_contact .extra_info h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
.ml_contact .extra_info a {
  text-decoration: none;
  color: #7e7e7e;
}
.ml_contact .mainpart {
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
}
.ml_contact .mainpart .left {
  width: 50%;
  background-color: #fff;
  padding: 50px 45px 55px 45px;
  margin-right: 30px;
  border-radius: 6px;
}
.ml_contact .mainpart .left .title {
  width: 100%;
  float: left;
  margin-bottom: 14px;
}
.ml_contact .mainpart .left .title p {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.ml_contact .mainpart .left .title span {
  font-weight: 600;
  color: #1a1a1a;
}
.ml_contact .fields {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.ml_contact .first_row {
  width: 100%;
  margin-bottom: 60px;
}
.ml_contact .second {
  width: 100%;
  margin-bottom: 60px;
}
.ml_contact .third {
  width: 100%;
  margin-bottom: 30px;
}
.ml_contact input {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #cbd3d9;
  background-color: transparent;
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 500;
  font-family: "Poppins";
  padding-left: 0px !important;
}
.ml_contact input:focus {
  outline: none;
  border-bottom-color: #0f172a;
  background-color: transparent;
}
.ml_contact textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cbd3d9;
  background-color: transparent;
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 500;
  font-family: "Poppins";
  height: 50px;
  resize: none;
  padding-left: 0px !important;
}
.ml_contact textarea:focus {
  outline: none;
  border-bottom-color: #0f172a;
  background-color: transparent;
}
.ml_contact .empty_notice {
  color: #f52225;
  margin-bottom: 7px;
  display: none;
  text-align: left;
  font-weight: 500;
}
.ml_contact .contact_error {
  color: #f52225;
  text-align: left;
  font-weight: 500;
}
.ml_contact .returnmessage {
  color: #3a00ff;
  margin-bottom: 7px;
  text-align: left;
  font-weight: 500;
}
.ml_contact .ml_button button {
  border-radius: 6px;
  padding: 11px 33px;
  background: #fff;
}
.ml_contact .ml_button a:hover,
.ml_contact .ml_button button:hover {
  color: #fff;
  background-color: #d00409;
  border-color: #d00409;
}
.ml_contact .right {
  width: 100%;
  height: 600px;
}
.ml_contact .right .google-map {
  border: 5px solid #fff;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  @media screen and (max-width: 1199px) {
    height: 350px;
  }
  @media screen and (max-width: 575px) {
    height: 300px;
  }
  iframe {
    height: 100%;
    width: 100%;
    filter: grayscale(1);
  }
}
