/*---------------------------------------------------*/
/*	 MEDIALOGIS FAQ
/*---------------------------------------------------*/

.ml_faq {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding-bottom: 170px;
  padding-top: 120px;
  @media screen and (max-width: 991px) {
    padding-bottom: 140px;
    padding-top: 90px;
  }
}
.ml_faq .about_title {
  width: 100%;
  float: left;
}
.ml_faq .about_title h3 {
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
}

.ml_faq .content {
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
  padding-top: 60px;
}
