/*---------------------------------------------------*/
/*	08) MEDIALOGIS TESTIMONIALS
/*---------------------------------------------------*/
.ml_testimonials .in_list {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  padding-left: 20px;
}
.ml_testimonials .in_list ul {
  margin: 0px;
  list-style-type: none;
}
.ml_testimonials .in_list ul li {
  margin: 0px 0px 15px 0px;
  width: 100%;
  float: left;
  position: relative;
  padding-left: 20px;
}
.ml_testimonials .in_list ul li:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #7e7e7e;
  left: 0px;
  top: 13px;
}
.ml_testimonials .in_list ul li:last-child {
  margin-bottom: 0px;
}
.ml_testimonials .in_list ul li p {
  margin-bottom: 0px;
}
.ml_testimonials {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  background-color: #f5f8fc;
  padding: 120px 0px 140px 0px;
  @media screen and (max-width: 991px) {
    padding: 90px 0px 110px 0px;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}
.slick-dots li {
  padding: 0 15px;
}
.ml_testimonials .list {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding-top: 60px;
}
.ml_testimonials .list ul {
  margin: 0px -15px;
  list-style-type: none;
}
.ml_testimonials .list ul li {
  margin: 0px;
  padding: 0 15px;
}
.ml_testimonials .list ul li .list_inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  background-color: #fff;
  padding: 50px 50px 60px 50px;
  border-radius: 6px;
  margin-bottom: 30px;
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
}
.ml_testimonials .list .details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.ml_testimonials .list .author {
  display: flex;
  align-items: center;
}
.ml_testimonials .list .image {
  position: relative;
  width: 120px;
  height: 120px;
}
.ml_testimonials .list .image .main {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
}
.ml_testimonials .list .short {
  // padding-left: 30px;
  // @media screen and (max-width: 991px) {
  //   padding-left: 15px;
  // }
}
.ml_testimonials .list .short h3 {
  font-size: 24px;
  font-weight: 500;
}
.ml_testimonials .list .short span {
  font-size: 16px;
  font-weight: 400;
}
.ml_testimonials .list .text {
  overflow-y: auto;
  overflow-x: hidden;
  height: 420px;
  scrollbar-width: thin;
  scrollbar-color: #999 #fff;

  @include scrollbars(#999, #fff);
  p {
    font-size: 18px;
  }
}

.ml_testimonials .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 33px;
}
.ml_testimonials .owl-theme .owl-dots .owl-dot span {
  margin: 0px 10px 0px 0px;
  width: 14px;
  height: 14px;
  background-color: #7e7e7e;
  border: 1px solid transparent;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ml_testimonials .owl-theme .owl-dots .owl-dot.active span {
  background-color: transparent;
  border-color: #34495e;
  width: 16px;
  height: 16px;
}
.ml_testimonials .svg {
  width: 80px;
  height: 80px;
}
